<h1> Welcome to the Volunteer Tracker</h1>
<hr>
 <% if @projects.any? %>
 <table style="width:50%">
   <tr>
     <th>Project Name</th>
     <th>Begin Date </th>
     <th>End Date </th>
   </tr>
   <% @projects.each do |project| %>
   <tr>
     <th><a href="/projects/<%= project.id%>"> <%=project.proj_name%></th>
     <th><%=project.begin_date%></th>
     <th><%=project.end_date%></th>
   </tr>
   <% end %>
 </table>
 <% else %>
 <p> There are no projects added yet! </p>
 <% end %>
 <br><br>
<div class="container">
    <p><a href="/projects"> View All Projects </a></p>
    <p><a href="/volunteers"> View All Volunteers </a></p>
</div>
