<h1> Welcome to the Voluneer Tracker</h1>
<hr>
<% if @projects.any? %>
<ul>
  <% @projects.each do |project| %>
  <li><a href="/projects/<%= project.id%>"> <%=project.proj_name%> <%=project.begin_date%> <%=project.end_date%></a></li>
  <% end %>
</ul>
<% else %>
<p> There are no projects added yet! </p>
<% end %>
<div class="container">
    <p><a href="/projects"> View All Projects </a></p>
    <p><a href="/volunteers"> View All Volunteers </a></p>
</div>
